<!-- views/user/update.ejs -->

<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%- include('../templates/head') %>

  <link rel="stylesheet" href="/css/home/sign-in.css">
  <script type="module" src="/js/user/update.js" defer></script>

  <title>도서 대여 프로그램</title>
</head>

<body>
  <%- include('../templates/b-header') %>

  <hidden value=<%= id %>></hidden>

  <!-- 회원가입 폼 -->
  <section id="signin-form">
    <h1>회원(관리자) 수정</h1>

    <article id="signin-input">
      <label for="id">아이디</label>
      <input type="text" class="input" placeholder="(필수) 영숫자 조합 6자 이상" id="id" name="id" value="<%= id %>">
      <label for="name">이름</label>
      <input type="text" class="input" placeholder="이름" id="name" name="name" value="<%= name %>">
      <label for="email">이메일</label>
      <input type="text" class="input" placeholder="이메일" id="email" name="email" value="<%= email %>">
      <label for="pw">비밀번호</label>
      <input type="password" class="input" placeholder="(필수) 영숫자, 특수문자 조합 9자 이상" id="pw" name="pw" value="<%= pw %>">
      <label for="pw-check">비밀번호 확인</label>
      <input type="password" class="input" placeholder="(필수) 영숫자, 특수문자 조합 9자 이상" id="pw-check" name="pw-check" value="<%= pw %>">
      <label for="is-manager">관리자 여부</label>
      <input type="text" class="input" placeholder="Y or N" id="is-manager" name="is-manager" value="<%= is_manager %>">
    </article>

    <article id="btns">
      <button id="update-btn">수정</button>
    </article>
  </section>
</body>

</html>